@import "tailwindcss";

:root {
  /* PAKWHEEL'S THEME, COLOR CODES ARE GENERATED THROUGH AI */
  --background: oklch(1 0 0);
  --foreground: oklch(0.11 0 0);
  --surface: oklch(0.97 0 0);
  --border: oklch(0.9 0 0);
  --primary: oklch(0.36 0.11 262);
  --primary-foreground: oklch(0.98 0 0);
  --accent: oklch(0.55 0.18 260);
  --text-secondary: oklch(0.5 0 0);
  --text-muted: oklch(0.65 0 0);
  --accent-foreground: oklch(0.98 0 0);
  --ring: oklch(0.36 0.11 262);
  --radius: 1.5rem;
}

@theme inline {
  /* Fonts and Root Variables */
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-ring: var(--ring);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
